html {
  height: 100%;
}
body {
  display: flex;
  flex-direction: column;
  height: 100vh; /* Avoid the IE 10-11 `min-height` bug. */
  font-family: Arial, Helvetica, sans-serif;
}

.wrapper {
  display: flex;  
  flex-flow: row wrap;
  font-weight: bold;
  text-align: center;
}

.wrapper > * {
  padding: 10px;
  flex: 1 100%;
}

/*HEADER*/

.header {
  background-color: #ff6347;
}

#BHeader{
}

#headerimage{
  height:5vh;
}
#blocHeader{
  margin-right:5%;
  text-align:right;
}

.headerCon{
  display:inline-block;
  right:0px;
  font-family: "arial", verdana, sans-serif;
  font-size:1em;
  line-height:1.5;
  letter-spacing:.15rem;
}

.headerConInput{
  border:none;
  font-size:1em;
  margin:1vh 1vw;
}

#headerinput{
}

/*FOOTER*/

.footer {
  display: -webkit-box;  /* OLD - iOS 6-, Safari 3.1-6, BB7 */
  display: -ms-flexbox;  /* TWEENER - IE 10 */
  display: -webkit-flex; /* NEW - Safari 6.1+. iOS 7.1+, BB10 */
  display: flex;         /* NEW, Spec - Firefox, Chrome, Opera */
  -webkit-box-pack: justify;
  -webkit-justify-content: space-around;
  -ms-flex-pack: justify;
  background-color: #ff6347;
  flex-flow: row nowrap;
  align-content: space-around;
}

.footer div{
  display: block;
  padding: 1em;
}

/*BARRE LATERALE*/

.aside-1 {
  background: gold;
  flex: 1 0 0;
}

/*ARTICLES*/
.main {
  display: flex;
  flex: 6 0px;         /* NEW, Spec - Firefox, Chrome, Opera */
  flex-flow: column nowrap;
  text-align: left;
  /*background: deepskyblue;*/
  
}

/*Gere le bloc apercu*/ 
.apercu {
  display: flex;
  flex: 1 1 5rem;
  justify-content: flex-start;
  align-content: center;
  flex-flow: row nowrap;
  background-color: #f1f1f1;
  border: 1px solid black;
  padding: 1px;
  margin: 5px;
}

/*Gere le bloc où est l'image*/
.blocImage{
  display: flex;
  flex: 0 0 20%;
  height: auto;
  order: 1;
  justify-content: center;
}

/* Gere la partie image */
.apercu img {
  max-width: 100%;
  max-height: 100%;
}

/*Gere la partie contenu*/
.apercuContent {
  flex: 1 0 70%;
  order: 2;
}


/*Disposition globale*/
@media all{
  .main    { flex: 6 0px; }
  .aside-1 { order: 1; } 
  .main    { order: 2; }
  .footer  { order: 4; }
}

body {
  padding: 2em; 
}